html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Lora', serif;
  background-color: #8c918f;
  color: #000; 
  padding-top: 150px; 
}

.header-container {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white; 
}

.main-wrapper {
    display: flex;
    margin-top: 20px; 
    min-height: 100vh;
}


.content-area {
    flex: 3; 
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* The right side (Pantry) */
.sidebar {
    flex: 1; 
    background-color: #666; 
    color: white;
    padding: 20px;
    margin-top: 0px;
}

/* Make sure images don't break the layout */
.recipe-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px; 
    margin-right: 25%; 
    padding: 20px;
}

.main-title{
   font-family: 'Lora', serif;
}

.navbar {
  display: flex;
  justify-content: space-between; 
  align-items: left; 
  background-color: #bbb; 
  padding: 10px 20px;
  margin-right: 360px;
  
}

.nav-links {
  display: flex;
  gap: 15px; /* Adds space between Home, About, etc. */
}

.nav-button {
  text-decoration: none;
  color: black;
  padding: 5px 15px;
  border-radius: 15px;
}

.nav-button:hover {
  background-color: #ddd;
}

.nav-search-form {
  display: flex;
  align-items: center;
  gap: 5px;
}

.nav-search {
  padding: 5px 15px;
  border-radius: 15px;
  border: 1px solid #ccc;
  outline: none;
}


