<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RecipeWeb</title>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">   
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alice">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="header-container">
  <div class="header-left">
    <h1 class="main-title">RecipeWeb</h1>
    <p class="subtitle">Discover delicious recipes for every occasion</p>
  </div>

  <nav class="navbar">
  <div class="nav-links">
    <a href="/" class="nav-button">Home</a>
    <a href="/about" class="nav-button">About</a>
        <form method="GET" action="/" class="nav-form">
    <select name="category" class="nav-select" onchange="this.form.submit()">
        <option value="" disabled selected hidden>Meal Type</option>
            <option value="">Breakfast</option>
            <option value="">Brunch</option>
            <option value="">Lunch</option>
            <option value="">Afternoon Tea</option>
            <option value="">Dinner</option>
            <option value="">Dessert</option>
            {% for category in categories %}
                <option value="{{ category['Category'] }}" {% if category['Category'] == selected_category %}selected{% endif %}>
                    {{ category['Category'] }}
                </option>
            {% endfor %}
        </select>
    </form>


  <form action="/search" method="GET" class="nav-search-form">
    <input type="text" name="query" placeholder="Search recipes..." class="nav-search">
    
  </form>
</nav>

  <div class="main-wrapper">
    
    <div class="recipe-section">
        <div class="recipe-container">
            <div class="recipe-title">
                <h1>{{ Recipes[0][1]}}</h1> 
            </div>
            <div class="recipe-image">
    <img src="{{ url_for('static', filename=Recipes[0][3]) }}" alt="Recipe Image" >
</div>
        <div class="recipe-info">
            <p><strong>Ingredients:</strong> {{ Recipes[0][4] }}</p>
            
        </div>
    </div>
    </div>
        </div>

    
    <div class="sidebar">
        <h2>Pantry</h2>
        <input type="text" placeholder="Search Ingredients">
        <h3>Common</h3>
        <p>Dairy</p>
        <p>Baking</p>
        
    </div>
</div>