{% extends "home.html" %}
{% block body %}


 

<div class="recipe-container">
    <img src="{{ url_for('static', filename=recipe[6]) }}" alt="{{ recipe[0] }}" class="recipe-cover">

    <div class="recipe-main">
        <div class="recipe-title">
            <h1>{{ recipe[0] }}</h1>
            <p><em>{{ recipe[1] }}</em></p>
        </div>

        <div class="recipe-ingredients">
            <p>{{ recipe[7] }}</p>
        </div>
    </div>

    <div class="recipe-details">
    <p><strong>Title:</strong> {{ recipe[2] }}</p>
    <p><strong>Creator:</strong> {{ recipe[3] }}</p>
    <p><strong>Image:</strong> {{ recipe[4] }}</p>
    <p><strong>Ingredients:</strong> {{ recipe[5] }}</p>
    <p><strong>Category:</strong> {{ recipe[6] }}</p>
    <p><strong>Website:</strong> {{ recipe[7] }}</p>
    <p><strong>Recipelink:</strong> {{ recipe[8] }}</p>
  </div>

</div>
</div>
{% endblock %}